.notification {
    position: absolute;
    top: 150px;
    right: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notification.success,
.notification.error {
    color: white;
    border: 1px solid white;
}

.notification.success {
    background-color: darkgreen;
}

.notification.error {
    background-color: red;
}

  