.prodContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divProd {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 15rem;
}

.divProd img {
    width: 14rem;
    height: 14rem;
}

.nombreProd,
.precio {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nombreProd {
    color: darkgreen;
    font-size: 2rem;
    margin-bottom: 10px;
}

.fotos {
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
}

.precio {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: x-large;
}

.boton {
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border-color: darkgreen;
    cursor: pointer;
}

.boton:hover {
    background-color: black;
    color: white;
    transition: 0.6s;
}

.description {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}